.header{
    background-color: black; 
    width: 100%; 
    margin-top: -10px; 
    height: 100%;
  }
  .position{
    margin-top: 0px;
    margin-left: -10%;
    margin-right: -48%;
  }
  .middle{
    height: 10px;
    color: white;
    font-size: 50px;
    text-align: center;
  }
  
  //for footer
  .bottom{
    
    position:absolute;
    bottom:0;
   }
  